%h3 Admin Panel
%p
%p{ :style => "margin: 0 2px; display: inline;" }= link_to "Categories/Products", admins_categories_path
%p{ :style => "margin: 0 2px; display: inline;" }= link_to "Orders", admins_orders_path
%p{ :style => "margin: 0 2px; display: inline;" }= link_to "Logout", destroy_admin_session_path
%hr
