=render "shared/navigation"
%h3= @product.name
%p= @product.description
%p{ :style => "display:inline; margin: 0 2px;" }= "Price: $" + @product.price.to_s
%p{ :style => "display:inline; margin: 0 2px;" }= link_to "Add to cart", product_add_path( @product )
